apiVersion: v1
kind: Secret
metadata:
  name: minio-root-user
  annotations:
    argocd.argoproj.io/sync-wave: "10"
type: Opaque
data:
  MINIO_ROOT_USER: {{ .Values.buckets.rootUser | b64enc }}
  MINIO_ROOT_PASSWORD: {{ .Values.buckets.rootPassword | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    opendatahub.io/connection-type: s3
    openshift.io/display-name: Model Storage
    argocd.argoproj.io/sync-wave: "10"
  labels:
    opendatahub.io/dashboard: "true"
    opendatahub.io/managed: "true"
  name: models
data:
  AWS_ACCESS_KEY_ID: {{ .Values.buckets.rootUser | b64enc }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.buckets.rootPassword | b64enc }}
  AWS_DEFAULT_REGION: {{ print "us-east-1" | b64enc }}
  AWS_S3_BUCKET: {{ .Values.buckets.models | b64enc }}
  AWS_S3_ENDPOINT: {{ print "http://minio." .Release.Namespace ".svc.cluster.local:9000" | b64enc }}
type: Opaque
---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    opendatahub.io/connection-type: s3
    openshift.io/display-name: Pipeline Artifacts
    argocd.argoproj.io/sync-wave: "10"
  labels:
    opendatahub.io/dashboard: "true"
    opendatahub.io/managed: "true"
  name: pipeline-artifacts
data:
  AWS_ACCESS_KEY_ID: {{ .Values.buckets.rootUser | b64enc }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.buckets.rootPassword | b64enc }}
  AWS_DEFAULT_REGION: {{ print "us-east-1" | b64enc }}
  AWS_S3_BUCKET: {{ .Values.buckets.pipelineArtifacts | b64enc }}
  AWS_S3_ENDPOINT: {{ print "http://minio." .Release.Namespace ".svc.cluster.local" | b64enc }}
type: Opaque