apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: inference-ability
  namespace: {{ .Release.Namespace }}
rules:
  - verbs:
      - get
    apiGroups:
      - serving.kserve.io
    resources:
      - inferenceservices
