apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: predictive-lifecycle
spec:
  destination:
    name: in-cluster
    namespace: hoi-testing
  source:
    path: demos/predictive-lifecycle/helm/
    repoURL: https://github.com/redhat-ai-americas/demo-templates-argo.git
    targetRevision: HEAD
    helm:
      valuesObject:
        create-model-registry:
          mysql:
            user: registryuser
            password: registrypass
            database: registrydb
            root_password: registrypass
        minio:
          buckets:
            rootUser: minio
            rootPassword: minio!23
        database:
          user: myuser
          password: mypassword
          database: hoi
          schema: hoi
          table: address_values
          columns:
          - name: address_id
            type: INTEGER
          - name: home_sq_ft
            type: DECIMAL
          - name: num_beds
            type: DECIMAL
          - name: basement_sq_ft
            type: DECIMAL
          - name: distance_to_nearest_fire_hydrant
            type: DECIMAL
          - name: time_since_last_claim
            type: INTEGER
          - name: distance_from_emergency_systems
            type: DECIMAL
          - name: fire_extinguisher_in_house
            type: INTEGER
          - name: hoi_monthly_cost
            type: DECIMAL
          - name: event_timestamp
            type: TIMESTAMP
          - name: created
            type: TIMESTAMP
  sources: []
  project: default
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 10
      backoff:
        duration: 10s
        factor: 3
        maxDuration: 30m
    managedNamespaceMetadata:
      labels:
        argocd.argoproj.io/managed-by: openshift-gitops